.radio{
    display: none;
}
#pokedex{
    width: 90%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    display: flex;
}
#telbg{
    height: 500px;
    width: 350px;
    border: solid black 1px;
    border-radius: 20px 20px 0px 20px;
    vertical-align: bottom;
    background-color: #bf404a;
}
#aside{
    margin-top: 200px;
    height: 300px;
    width: 350px;
    vertical-align: bottom;
    border: solid black 1px;
    border-radius: 0px 20px 20px 0px;
    background-color: #bf404a;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#screen{
    margin: auto;
    height: 100px;
    width:80%;
    background-color: #b8c2a5;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 5px 20px black inset;
    margin-bottom: 10px;
    padding-top: 15px;
}
#clavier{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    border-radius: 0px 0px 20px 0px;
}
.asidebutton{
    height: 35px;
    background-color: #6b9dbe;
    width: 20%;
    margin: auto;
    margin: 0px 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
}
.asidebutton:hover{
    box-shadow: 1px 1px 1px black;
}
#dot{
    margin: auto;
    height: 25px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.greendot{
    height: 15px;
    width: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
    background: -webkit-radial-gradient(#9ff9ac, #57D53B);
}
#lines{
    display: flex;
    justify-content: space-between;
    height: 70px;
}
#whitebuttons{
    display: flex;
    width: 40%
}
.whitebutton{
    height: 35px;
    background-color: white;
    width: 40%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
}
.whitebutton:hover{
    box-shadow: 1px 1px 1px black;
}
.colors{
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-direction: column;
}
.color{
    height: 6px;
    width: 50%;
    border-radius: 5px;
    background: linear-gradient(to right, #57D53B, red);
}
#img_area{
    width: 200px;
    height: 200px;
    margin: auto;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
#img_screen{
    background-color: lightgrey;
    width: 250px;
    height: 250px;
    padding-top: 15px;
    margin: auto;
    border-radius: 20px;
}
#screenbg{
    padding-top : 15px;
    display: flex;
    justify-content: space-around;
}
.redPoint{
    border-radius: 20px;
    width: 25px;
    height: 25px;
    background-color: red;
}
#blacklines{
    display : flex;
    justify-content:space-around;
    flex-direction : column;    

}
.blackline{
    width:25px;
    height:1px;
    background-color : black;
}
#middleArea{
    height: 500px;
    width: 25px;
    background-color: #bf404a;
    border: solid black 1px;
    border-radius: 20px 20px 0px 0px
}
#center{
    height: 500px;
    width: 1px;
    box-shadow: 5px 5px 7px white;
    margin-left: 8px;
}
#bottom{
    display: flex; 
    margin: 40px 0px 7% 17%;
    justify-content: space-between;
}
#director{
    display: flex;
    flex-direction: column;
}
.directorlines{
    display: flex;
}
.directorsquare{
    width: 25px;
    height: 25px;
}
.black{
    background-color: grey;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left:8px solid transparent;
  border-right: 8px solid transparent;
  margin: auto;
  border-bottom: 5px solid black;
  margin-top:7px;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    margin: auto;
    border-top: 5px solid black;
    margin-top: 11px;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin: auto;
    border-left: 5px solid black;
    margin-top: 4px;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    margin: auto;
    border-right:5px solid black;
    margin-top: 4px;
}